.result-counter {
    display: flex;
    flex-direction: column;
    height: 126px;
    border: solid #788895;
    background-color: #C3CFD9;
}

h3 {
    margin: 0px;
    padding: 3px 8px 3px 8px;
}
p {
    margin: 0px;
    font-size: 25px;
    font-weight: bold;
}

.result {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}